{% extends 'layout.html' %}
{% block content %}
<div style="background-color: blanchedalmond; margin-bottom: 5px; padding: 5px;">
	<div class="row">
		<div class="col">
			<label class="file">Choose Background Audio</label>
			<input type="file" class="form-control-file" accept=".mp3,audio/*" id="file">
		</div>
		<div class="col">
			<label class="fps">Choose time (seconds)</label>
			<input type="number" class="form-control" id="fps" value="5" min="1" max="30"
				oninput="(validity.valid)||(value='');" style="width: 7.5em;">
		</div>
		<div class="col" id="transition">

			<label for="sel1">Select transition style:</label>
			<select class="form-control" id="sel1" data-width="3">
				<option value="left">Slidein (left)</option>
				<option value="right">Slidein (right)</option>
				<option value="slideout">Slideout (bottom)</option>
			</select>
		</div>
	</div>
	
</div>
<div class="container-fluid">
	<div id="successAlert" class="alert alert-success" role="alert"
		style="display:none;width: 30em; margin-left: 12em;"></div>
	<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;width: 30em; margin-left: 12em;">
	</div>
	<div class="row text-center ali" style="display: flex; justify-content: center;">
		{% set count = namespace(value=0) %}
		{% for image in images %}

		<div style="margin: 1px 1px;">
			<div class="thumbnail" style="border: rgb(253, 223, 178) solid 2px; position: relative;">
				<a>

					<img src="{{ url_for('static',filename='gallery_images/' + image.image_name) }}"
						alt="{{ image.image_actual_name }}" style="width:300px; height: 200px">
					<div class="checkbox">
						<input type="checkbox" name="mycheckbox" id="{{count.value}}" class="check"
							onclick="check('{{count.value}}')" value="{{image.image_name}}">
					</div>

					<div class="caption">
						<p style="margin-bottom: 0px; background-color: rgb(30, 178, 163); color: rgb(255, 230, 0);"
							class="text-center">{{ image.image_actual_name }}</p>
					</div>
				</a>
			</div>
		</div>
		{% set count.value = count.value + 1 %}
		{% endfor %}
	</div>
	<div class="row" style="margin-top: 5px; background-color: blanchedalmond;">
		<div class="col text-center" >
			<button type="submit" class="btn btn-primary" id="done">Submit</button>
		</div>
	</div>
</div>

{% block scripts %}
<script src="{{url_for('static',filename='video.js')}}"></script>

{% endblock scripts %}
{% endblock content %}